h1 {
    font-size: 75px;
}
body {
    background-color: cornflowerblue;
    font-family: sans-serif;
    text-align: center;
}

.row {
    display: flex;
}
.column {
    flex: 33.33%;
    padding: 5px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

h2 {
    font-family: 'Tahoma';
}
